[submodule "glmquotawatch-gui"]
	path = glmquotawatch-gui
	url = git@github.com:shihao-hub/td-go_projects-glmquotawatch-gui.git
	branch = main
	ignore = all
[submodule "nginx-ai-proxy"]
	branch = main
	ignore = all
	path = nginx-ai-proxy
	url = git@github.com:shihao-hub/td-go_projects-nginx-ai-proxy.git
